input[type="checkbox"] {
  position: relative;
  width: 46px;
  height: 23px;
  background-color: $blue;
  -webkit-appearance: none;
  border-radius: 20px;
  outline: none;
  transition: .4s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

input:checked[type="checkbox"] {
  background: $blue;
}

input[type="checkbox"]::before {
  z-index: 2;
  position: absolute;
  content: "";
  bottom: 3px;
  left: 3px;
  width: 17px;
  height: 17px;
  background-color: $blue;
  background: $white;
  border-radius: 50%;
  transform: scale(1.1);
  transition: .4s;
}

input:checked[type="checkbox"]::before {
  left: 25px;
}

.toggle {
  position: relative;
  display: inline;
}

label {
  position: absolute;
  color: $white;
  font-weight: 600;
  font-size: 20px;
  font-family: futura-pt, sans-serif;
  pointer-events: none;
}

.onbtn {
  bottom: 7px;
  left: 57px;
  font-size: 16px;
  color: $Onbtn;
}

.ofbtn {
  bottom: 7px;
  right: 57px;
  color: $Onbtn;
  font-size: 16px;
  font-weight: 500;
}